$item-margin: 8px;
$item-height: 33px;
$item-padding-v: $item-margin / 4;
$item-padding-h: 10px;
$item-icon-width: 18px;
$item-name-height: 24px;
$item-width: 250px;
$item-offset: 30px;
$column-margin: 5vw;

html body.omen {

  .patch-columns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: stretch;
    align-items: stretch;
  }

  .patch-groups {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    padding-right: $column-margin;
    border-right: 1px solid $grey-lighter;
  }

  .patch-panel {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    padding-left: $column-margin;
  }

  .drag-handle {
    &.gu-mirror {
      &, &:active {
        cursor: -webkit-grabbing;
      }
    }
  }

  &.is-dragging {

    patch-container[type='root'] {
      .patch-device-contents {
        pointer-events: none;
      }
    }

    patch-device.gu-transit {

      // margin-bottom: $item-height;

      patch-container[type='device'] {
        display: none;
      }
    }



  }

  patch-group {

    display: block;
    margin-bottom: 2vw;

    .title {
      margin: 0;
      @extend .no-pointer;
    }

    .dropslot {
      display: none;
    }

    patch-container {
      display: block;
      min-height: 40px;
    }

  }

  patch-device {

    display: block;
    margin: $item-margin 0;
    width: $item-width;

    &.gu-transit {
      background: #eee;
      * {
        visibility: hidden;
      }
      .dropslot {
        display: none;
      }
    }

    &.gu-mirror,
    &.gu-transit {
      &.is-patched {
        .dropslot {
          display: block;
        }
      }
    }

    &.is-patched {
      .patch-device-contents.field {
        margin: 0;
      }
      .dropslot {

      }
    }

    .patch-device-contents {

      color: $dark;

      &, &.field {
        padding: $item-padding-v $item-padding-h;
        border: 1px solid $grey-lighter;
        width: $item-width;
        background: #fff;
        margin: 0;

        .control {
          margin-right: 0;
        }

        .patch-item-name {
          padding-left: .75rem;
          line-height: $item-name-height;
        }

      }

      .icon {
        width: $item-icon-width;
        height: $item-name-height;
      }

      .icon.grouped-only {
        display: inline-flex;
      }

      .patched-only {
        display: none;
      }

      .patch-item-name {
        font-size: .9rem;
        font-weight: bold;
        text-align: left;
        height: $item-name-height;
        line-height: $item-name-height;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

    }

    patch-container[type='device'] {
      display: none;
      width: 100%;
      //background: pink;
      min-height: $item-height;
      padding-top: $item-height;
      margin-top: -$item-height;
      margin-left: $item-offset;
      margin-bottom: $item-margin;
    }

  }

  .patch-panel {

    .title {
      margin: 0;
      @extend .no-pointer;
    }

    patch-container[type='root'] {

      width: $item-offset - 1;
      display: block;
      min-height: 80vh;

      .dropslot {
        display: block;
      }

      > patch-device:not(:first-of-type) {
        margin-top: $item-height;
      }

      patch-device {

        &.has-output.has-no-input.is-patched {
          // margin-bottom: $item-height;
        }

        .patch-device-contents.field {

          .patch-item-name {
            margin: 0;
          }

          .patch-connected {
            display: none;
          }

          .patch-disconnected {
            display: block;
          }

          .grouped-only {
            display: none;
          }

          .patched-only {
            display: inline-block;
          }

          .icon.patched-only {
            display: inline-flex;
          }

        }

      }
    }
  }
}