
$item-margin: 8px;
$item-height: 33px;
$item-padding-v: $item-margin / 4;
$item-padding-h: 10px;
$item-icon-width: 18px;
$item-name-height: 24px;
$item-width: 250px;
$item-offset: 30px;
$column-margin: 5vw;

html body.omen {

  .patch-columns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: stretch;
    align-items: stretch;
  }

  .patch-groups {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    padding-right: $column-margin;
    border-right: 1px solid $grey-lighter;
  }

  .patch-panel {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    padding-left: $column-margin;
  }

  .drag-handle {
    &.gu-mirror {
      &, &:active {
        cursor: -webkit-grabbing;
      }
    }
  }



  patch-group {

    display: block;
    margin-bottom: 2vw;

    .title {
      margin: 0;
      @extend .no-pointer;
    }

    dropslot {
      display: none;
    }

  }

  patch-device {

    display: block;
    margin: $item-margin 0;
    width: $item-width;

    &.gu-transit {
      background: #eee;
      * {
        visibility: hidden;
      }
      dropslot.dropslot {
        display: none;
      }
    }

    &.gu-mirror {
      dropslot {
        display: block;
      }
    }

    patch-device-contents {

      &, &.field {
        padding: $item-padding-v $item-padding-h;
        border: 1px solid $grey-lighter;
        width: $item-width;
        background: #fff;
        margin: 0;
      }

      .icon-io,
      .icon-input {
        display: none;
      }

      &.has-input {
        .icon-input {
          display: block;
        }
      }

      &.has-output {
        .icon-io {
          display: block;
        }
      }

      &.has-input.has-output {
        .icon-input {
          display: none;
        }
      }

      .icon {
        width: $item-icon-width;
        height: $item-name-height;
      }

      .icon.grouped-only {
        display: inline-flex;
      }

      .patched-only {
        display: none;
      }



      .patch-item-name {
        font-size: .9rem;
        font-weight: bold;
        text-align: center;
        height: $item-name-height;
        line-height: $item-name-height;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

    }

    dropslot {
      display: none;
      min-height: $item-height;
      margin-top: $item-margin;
      margin-left: $item-offset;
    }



  }

  .patch-panel {

    .title {
      margin: 0;
      @extend .no-pointer;
    }

    dropzone {

      width: 100%;
      display: block;
      min-height: 80vh;

      > patch-device {

        padding-bottom: 20px;
        margin-bottom: 20px;

        > patch-device-contents {

          &.has-input.has-output {
            .icon-input {
              display: block;
            }
            .icon-io {
              display: none;
            }
          }
        }
      }

      patch-device {

        patch-device-contents.field {

          // width: $item-width - 50px;

          .patch-item-name {
            margin: 0;
            text-align: left;
          }

          .patch-connected {
            display: none;
          }

          .patch-disconnected {
            display: block;
          }

          .grouped-only {
            display: none;
          }

          .patched-only {
            display: inline-block;
          }

          .icon.patched-only {
            display: inline-flex;
          }

        }


        &.is-connected {

          > patch-device-contents {

            .patch-connected {
              display: block;
            }

            .patch-disconnected {
              display: none;
            }

          }

        }


      }

      dropslot {
        display: block;
      }
    }
  }
}