
$item-margin: 8px;
$item-height: 33px;
$item-padding-v: $item-margin / 4;
$item-padding-h: 10px;
$item-icon-width: 18px;
$item-name-height: 24px;
$item-width: 250px;
$item-offset: 30px;
$column-margin: 5vw;

html body.omen {

  .patch-columns {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: stretch;
  }

  .patch-groups {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    padding-right: $column-margin;
    border-right: 1px solid $grey-lighter;
  }

  .patch-panel {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    padding-left: $column-margin;
  }

  .drag-handle {
    &.gu-mirror {
      &, &:active {
        cursor: -webkit-grabbing;
      }
    }
  }



  patch-group {

    display: block;
    margin-bottom: 2vw;

    .title {
      margin: 0;
      @extend .no-pointer;
    }

    dropslot {
      display: none;
    }

  }

  patch-device {

    display: block;
    margin: $item-margin 0;
    width: $item-width;

    &.gu-transit {
      background: #eee;
      * {
        visibility: hidden;
      }
      dropslot.dropslot {
        display: none;
      }
    }

    &.gu-mirror {
      dropslot {
        display: block;
      }
    }

    patch-device-contents {

      &, &.field {
        padding: $item-padding-v $item-padding-h;
        border: 1px solid $grey-lighter;
        width: $item-width;
        background: #fff;
        margin: 0;
      }

      .icon {
        width: $item-icon-width;
        height: $item-name-height;
      }

      .patch-item-name {
        font-size: .9rem;
        font-weight: bold;
        text-align: center;
        height: $item-name-height;
        line-height: $item-name-height;
      }

      .icon.patch-wire {
        display: none;
      }

      .icon.grouped-only {
        display: inline-flex;
      }

      .icon.patched-only {
        display: none;
      }

    }

    dropslot {
      display: none;
      min-height: $item-height;
      margin-top: $item-margin;
      margin-left: $item-offset;
    }



  }

  .patch-panel {

    .title {
      margin: 0;
      @extend .no-pointer;
    }

    dropzone {

      width: 100%;
      display: block;
      min-height: 80vh;

      > patch-device {
        margin-bottom: 40px;
      }

      patch-device {

        border: 0;
        width: $item-width;

        patch-device-contents.field {

          .patch-item-name {
            margin: 0;
            text-align: left;
          }

          .icon.patch-wire {
            display: inline-flex;
          }

          .icon.grouped-only {
            display: none;
          }

          .icon.patched-only {
            display: inline-flex;
          }

        }

      }

      dropslot {
        display: block;
      }
    }
  }
}