<div class="patch-columns">

    <div class="patch-column patch-groups">

        <patch-group ng-repeat="group in $ctrl.groups.array | orderBy: 'index'"
                     ng-show="$ctrl.ready">

                <h2 class="title is-5 no-select is-marginless">
                    {{group.name}}
                </h2>

                <patch-container type="group" group="group" filter="unpatched"
                                 devices="$ctrl.devices[group._id]">
                </patch-container>
        </patch-group>

    </div>

    <div class="patch-column patch-panel">
        <h2 class="title is-5 no-select">Patches</h2>
        <patch-container type="root" devices="$ctrl.rootDevices"></patch-container>
    </div>

</div>