<div class="patch-columns">

    <div class="patch-column patch-groups">

        <patch-group ng-repeat="group in $ctrl.groups.array | orderBy: 'index'"
                   ng-show="$ctrl.ready"
                   class="patch-group">

            <h2 class="title is-5 no-select is-marginless">{{group.name}}</h2>

            <device-container device-group="{{group._id}}" >

                <patch-device
                        ng-repeat="(key, device) in $ctrl.devices[group._id].array | orderBy: 'index'"
                        device-id="{{device._id}}"
                        device-group="{{group._id}}"
                        device-input="{{device.input}}"
                        device-output="{{device.output}}">

                    <patch-device-contents
                        class="no-select drag-handle field is-grouped">
                        <div class="control">
                            <span class="icon" ng-if="!device.output">
                                <i class="fa fa-volume-up"></i>
                            </span>
                            <span class="icon" ng-if="device.output">
                                <i class="fa fa-dot-circle-o"></i>
                            </span>
                            <span class="icon patch-wire patched-only" ng-if="device.input">
                                <i class="fa fa-level-down"></i>
                            </span>
                        </div>
                        <div class="control is-expanded has-text-centered patch-item-name">
                            {{device.name}}
                        </div>
                        <div class="control" >
                            <span class="icon grouped-only" ng-if="device.input">
                                <i class="fa fa-long-arrow-right"></i>
                            </span>
                            <span class="icon" ng-if="!device.input">
                                <i class="fa fa-volume-up"></i>
                            </span>
                        </div>
                    </patch-device-contents>

                    <dropslot ng-if="device.input">

                    </dropslot>

                </patch-device>


            </device-container>

        </patch-group>

    </div>
    <div class="patch-column patch-panel">
        <h2 class="title is-5 no-select">Patches</h2>
        <dropzone></dropzone>
    </div>

</div>