<section class="box">
    <form novalidate
          name="$ctrl.form"
          ng-submit="$ctrl.submit()">

        <label class="label" for="add-device-form-name">
            Device Name
        </label>

        <div class="field is-grouped">
            <div class="control is-expanded">
                <input required
                       type="text"
                       class="input"
                       id="add-device-form-name"
                       ng-model="$ctrl.form.name"
                       focus-on="add-device-form-name"
                       placeholder="e.g Roland TR-808"
                       ng-class="{'is-danger': $ctrl.form.$submitted && $ctrl.form.$invalid}">
            </div>
            <div class="control">
                <div class="select">
                    <select ng-model="$ctrl.form.input"
                            ng-options="item.label for item in $ctrl.getInputs() track by item.value">
                    </select>
                </div>
            </div>
            <div class="control">
                <div class="select">
                    <select ng-model="$ctrl.form.output"
                            ng-options="item.label for item in $ctrl.getOutputs() track by item.value">
                    </select>
                </div>
            </div>
            <div class="control">
                <button type="submit"
                        class="button is-primary">Save</button>
            </div>
            <div class="control">
                <button type="button"
                        class="button"
                        ng-click="$ctrl.closeForm()">Cancel</button>
            </div>
        </div>
    </form>
    <p class="help">ut and output options correspond to the jacks your device occupies on the Ωmen Cross.
        The inp
    </p>
</section>