<patch-device device="device"

              ng-if="($ctrl.filter === 'unpatched' && !device.patched) || !$ctrl.filter"

              ng-repeat="(key, device) in
                         $ctrl.devices.array |
                         orderBy: 'patchedIndex'"


              ng-class="{
                   'has-input': device.input,
                   'has-output': device.output,
                   'has-no-input': !device.input,
                   'has-no-output': !device.output,
                   'is-patch-root': device.patchedTo === 'root',
                   'is-patched': device.patched
               }">
</patch-device>