<div class="patch-device-details">

    <a href ng-dblclick="$ctrl.place()"
       class="patch-device-contents drag-handle field is-grouped">

        <div class="control">
            <span>
                <span class="icon">
                    <span ng-if="$ctrl.icon('sound-input')">
                        <i class="fa fa-volume-up"></i>
                    </span>
                    <span ng-if="$ctrl.icon('jack')">
                        <i class="fa fa-dot-circle-o"></i>
                    </span>
                </span>
                <span class="icon" ng-if="$ctrl.device.input">
                    <span ng-if="$ctrl.icon('patched')">
                        <i class="fa fa-level-down"></i>
                    </span>
                    <span ng-if="!$ctrl.icon('patched')">
                        <i class="fa fa-long-arrow-right"></i>
                    </span>
                </span>
            </span>
        </div>

        <div class="control is-expanded patch-item-name">
            {{$ctrl.device.name}}
        </div>

        <div class="control">
            <span class="icon">
                <span ng-if="$ctrl.icon('sound-output')">
                    <i class="fa fa-volume-up"></i>
                </span>
            </span>
        </div>

    </a>
</div>

<patch-container
        type="device"
        class="dropslot"
        device="$ctrl.device"
        id="$ctrl.device._id"
        devices="$ctrl.patchedTo"
        ng-if="$ctrl.device.input"
        ng-class="{
            'is-patched': $ctrl.patchedTo.array.length > 0,
            'not-patched': !$ctrl.patchedTo.array.length
        }">
</patch-container>