<div ng-if="!$ctrl.showForm">
    <div class="field is-grouped">
        <div class="control is-expanded">
            <h1 class="title is-3">Devices</h1>
        </div>
        <div class="control align-with-h2">
            <button class="button is-small is-outlined is-primary"
                    ng-click="$ctrl.openForm()"
                    focus-on="add-group-btn">Add a Group</button>
        </div>
    </div>
    <hr>
</div>

<sortable-container on-sort="$ctrl.sort(order)">
    <sortable-contents ng-if="$ctrl.ready">

        <article class="message is-warning" ng-if="!$ctrl.showForm && !$ctrl.groups.length">
            <div class="message-body has-text-centered">
                You do not have any groups setup yet.
                You will need to add at least one group to continue.
            </div>
        </article>

        <add-group-form ng-if="$ctrl.showForm"
                        close-form="$ctrl.closeForm()">
        </add-group-form>

        <device-group ng-repeat="(key, group) in $ctrl.groups | orderBy: 'index'"
                      sortable-item sortable-id="{{group._id}}" group="group">
        </device-group>

    </sortable-contents>
</sortable-container>