<div ng-if="!$ctrl.showForm">
    <div class="field is-grouped">
        <div class="control is-expanded">
            <h1>Device Setup</h1>
        </div>
        <div class="control align-with-h2">
            <button class="button is-small is-outlined is-primary" ng-click="$ctrl.openForm()">Add a Group</button>
        </div>
    </div>
    <hr>
</div>

<div ng-if="$ctrl.ready">

    <article class="message is-warning" ng-if="!$ctrl.showForm && !$ctrl.groups.length">
        <div class="message-body has-text-centered">
            You do not have any groups setup yet.
            You will need to add at least one group to continue.
        </div>
    </article>

    <section ng-if="$ctrl.showForm">
        <h1>Add a Group</h1>
        <p class="help">Groups are used for organizing your devices while patching.</p>
        <hr>
        <form novalidate name="$ctrl.form" ng-submit="$ctrl.submitForm()">
            <label class="label">Group Name</label>
            <div class="field is-grouped">
                <div class="control is-expanded">
                    <input required focus-on="addGroup"
                           class="input" type="text"
                           placeholder="e.g Instruments"
                           ng-model="$ctrl.form.name"
                           ng-class="{'is-danger': $ctrl.form.$submitted && $ctrl.form.$invalid}">
                </div>
                <div class="control">
                    <button class="button is-primary">Save</button>
                </div>
                <div class="control">
                    <button type="submit"
                            class="button"
                            ng-click="$ctrl.closeForm()">Cancel</button>
                </div>
            </div>
        </form>
    </section>

    <div ng-if="!$ctrl.showForm">
        <setup-group ng-repeat="(key, group) in $ctrl.groups"
                     delete-group="$ctrl.deleteGroup(group)"
                     data="group"></setup-group>
    </div>
</div>