<section>
    <h1>Add a Group</h1>
    <p class="help">Groups are used for organizing your devices while patching.</p>
    <hr>
    <form novalidate name="$ctrl.form" ng-submit="$ctrl.submit()">
        <label class="label">Group Name</label>
        <div class="field is-grouped">
            <div class="control is-expanded">
                <input required focus-on="group-name"
                       class="input" type="text"
                       ng-model="$ctrl.form.name"
                       placeholder="e.g Instruments"
                       ng-class="{'is-danger': $ctrl.form.$submitted && $ctrl.form.$invalid}">
            </div>
            <div class="control">
                <button class="button is-primary">Save</button>
            </div>
            <div class="control">
                <button type="submit"
                        class="button"
                        ng-click="$ctrl.closeForm()">Cancel</button>
            </div>
        </div>
    </form>
</section>