<div class="device-group">

    <div class="field is-grouped">
        <div class="control align-with-h2">
            <button class="button is-small is-static drag-handle"
                    title="Reorder Group: {{$ctrl.group.name}}">
                <span class="icon is-small">
                    <i class="fa fa-bars"></i>
                </span>
            </button>
        </div>
        <div class="control align-with-h2">
            <button class="button is-small is-outlined is-primary"
                    focus-on="add-device-btn:{{$ctrl.group.name}}"
                    title="Add Device to Group: {{$ctrl.group.name}}"
                    ng-click="$ctrl.openForm()">
                <span class="icon is-small">
                    <i class="fa fa-plus"></i>
                </span>
            </button>
        </div>
        <div class="control is-expanded">
            <h2>{{$ctrl.group.name}}</h2>
        </div>
        <div class="control align-with-h2" ng-if="!$ctrl.showForm && !$ctrl.group.devices.length">
            <button class="button is-small is-outlined is-danger"
                    title="Delete Group: {{$ctrl.group.name}}"
                    ng-click="$ctrl.deleteGroup()">
                <span class="icon is-small">
                    <i class="fa fa-trash"></i>
                </span>
            </button>
        </div>
    </div>

    <add-device-form ng-if="$ctrl.showForm"
                     group="$ctrl.group"
                     close-form="$ctrl.closeForm()"></add-device-form>

    <device-table group="$ctrl.group"></device-table>

</div>