
<article class="message is-warning" ng-if="$ctrl.ready && !$ctrl.devices.length">
    <div class="message-body has-text-centered">
        There are no devices in this group.
    </div>
</article>

<div class="card" ng-if="$ctrl.devices.length">
    <div class="card-content is-paddingless">
        <table class="table is-striped is-fullwidth has-text-centered is-marginless">
            <tbody>
                <tr device-table-row ng-repeat="device in $ctrl.devices"
                    data-set="$ctrl.dataSet"
                    device="device"></tr>
            </tbody>
        </table>
    </div>
</div>