@import "../../jspm_packages/npm/bulma@0.5.3/sass/utilities/initial-variables";

@import "./components/aside";
@import "./components/modal";
@import "./components/panel";
@import "./components/panel";
@import "./components/layout";
@import "./components/device-group";

@keyframes blur {
  to {
    filter: blur(2px);
  }
}

ui-view,
setup-view,
setup-group,
device-group,
draggable-container {
  display: block;
}

html body {

  &, .body-font {
    font-family: 'Anonymous Pro', monospace;
    letter-spacing: 0.05em;
    font-weight: 500;
  }

  button, input, select {
    @extend .body-font;
  }

  .decorative-font {
    font-family: 'Cinzel Decorative', serif;
    letter-spacing: 0.3rem;
  }

  .columns {
    margin-left: 0;
  }

  .title {
    line-height: 1.5;
  }

  .nav {
    .nav-menu {
      .nav-item {
        .name {
          margin-left: .5rem;
        }
      }
    }
  }


  > .columns.no-bottom-margin {
    margin-bottom: 0;
  }


  table {

    &.has-text-centered {
      th, td {
        vertical-align: middle;
        text-align: center;
      }
    }
  }

  .control.align-with-h2 {
    .button.is-small {
      margin-top: 0.35rem;
    }
  }

  tr.no-hover,
  tr.no-hover:hover {

  }

}

.button.is-success {
  background-color: #2EB398;
}
.nav.is-dark {
  background-color: #232B2D;
  color: #F6F7F7;
}
.nav.is-dark .nav-item a, .nav.is-dark a.nav-item {
  color: #F6F7F7;
}
.nav.is-dark .nav-item a.button.is-default {
  color: #F6F7F7;
  background-color: transparent;
  border-width: 2px;
}

.footer.footer-shorter {
  padding: 2rem 4rem;
}